@tailwind base
@tailwind components
@tailwind utilities

body
    margin: 0
    padding: 0
    width: 100%
    background-color: theme('colors.white')

.container
    margin-right: auto
    margin-left: auto
    padding-right: 1rem
    padding-left: 1rem
    max-width: 80rem

.debug
    border: 1px solid red